@CHARSET "UTF-8";
/*
 * Title:   Snuffel
 * Author:  Qzofp Productions
 * Version: 0.3
 *
 * File:    results.css
 *
 * Created on Apr 16, 2011
 * Updated on Jul 06, 2011
 *
 * Description: The results css page.
 *
 * Credits: Spotweb team and Wierdo.
 *
 */

/*
 *   Common CSS
 */

/* Tip 1: top, right, bottom, left */
/* Tip 2: 0.8em = 8px, 1em = 10px, 1.2em = 12px

/* Body and main parts of the page. */
html{
height:100%;
}

body{
margin:0;
height:100%;
font-family:Arial, Helvetica, Sans-Serif;
font-size:62.5%; /* =10px */
}

#main{
float:left;
width:100%;
min-height:100%;
margin:-30px 0 0 0;
}

#main input,
#main button{
font-family:Arial, Helvetica, Sans-Serif;  
}

/* Remove button padding in FireFox */
#main input::-moz-focus-inner,
#main button::-moz-focus-inner{
border:0;
padding:0;
}

#panel_top{
float:left;
width:235px;
height:120px;
padding:30px 0 0 0;
}

#panel_middle{
clear:left;
float:left;
width:235px;
height:450px;
}

#panel_bottom{
clear:left;
float:left;
width:235px;
height:200px;
}

#results_top{   
height:400px;
margin:0 5px 0 235px;
padding:30px 0 0 0;
}

#results_bottom{
height:100px;
margin:0 5px 0 235px;
background-color:gainsboro;
}

#footer{
clear:both;
height:25px;
padding:5px 0 0 0;
background:#fff;
width:100%;
text-align:center;
font-size:1.1em;
color:#000;
}

#footer a,
#footer a:active{
color:#000;
text-decoration:none;
}

#footer a:hover{
text-decoration:underline;
}

/* Panel parts */
.panel h4{
margin:5px;
padding:3px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
text-align:center;
font-size:1.1em;
color:white;
background:#565656;
}

.panel ul{
list-style:none;
margin:0;
padding:0;
text-align:center;
}

.panel input[type=button],
.panel button[type=button],
.panel input[type=submit],
.panel button[type=submit]{
margin:0 5px 2px 5px;
padding:0 0 0 5px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
height:20px;
font-size:1.1em;
font-weight:bold;
border:none;
}

.panel .btn_top input,
.panel .btn_top button{
width:225px;
text-align:left;
background:#ececec;
}

.panel .btn_top input[type=button],
.panel .btn_top button[type=button]{
background:#c8c8c8;
}

.panel .btn_top input[type=submit]:hover,
.panel .btn_top button[type=submit]:hover{
background:white;
cursor:pointer;
}

.panel .txt_center{
height:20px;    
font-size:1.1em;
text-align:center;
margin-top:2px;
}

.panel .btn_bottom input[type=submit]{
margin:0 0 5px 0;
width:210px;
text-align:center;
color:white;
background:url(sprite_button.png) no-repeat 0 0;
}

.panel .btn_bottom input[type=submit]:hover{
background-position:0 -20px;
cursor:pointer;
}

/* Results parts */
table.results{
margin:5px 0 0 0;
width:100%;
border-collapse:collapse;
}

table.results thead tr{
font-size:1.1em;
color:white;
}

table.results thead th{
padding:3px 0 3px 5px;
background:#565656;
text-align:left;
border-bottom:5px solid #fff;
}

table.results thead th:first-child{
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
text-align:center;
}

table.results thead th:last-child{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

table.results th.cat{
padding:3px 0 3px 0;
width:52px;
}

table.results td.com,
table.results th.com{
text-align:center;
width:34px; 
min-width:34px;
padding:0;
}

table.results th.gen{
min-width:120px; 
width:120px;
}

table.results th.pos{
min-width:110px; 
width:110px; 
}

table.results th.dat{
min-width:140px;
width:140px;
}

table.results th.nzb{
min-width:26px;
width:26px;
}

table.results tbody tr{
font-size:1.1em;
}

table.results tbody td{
padding:3px 0 3px 5px;
border-top:2px solid #fff;
}

table.results tbody td:first-child{
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
text-align:center;
}

table.results tbody td:first-child+td{
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
border-radius:5px 0 0 5px;
}

table.results tbody td:last-child{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

table.results tr td.cat{
width:50px; 
min-width:50px;
line-height:20px;
vertical-align:top;
}

table.results tr.new td{
font-weight:bold;
}

table.results tr.blue td{
background-color:#daecff;
}

table.results tr.orange td{
background-color:#fffad3;
}

table.results tr.green td{
background-color:#cbffcb;
}

table.results tr.red td{
background-color:#fedede;
}

table.results tbody tr:hover td{
background-color:#fff;
}

table.results td.cat{
padding:0;
font-weight:bold;
color:#fff;
}

table.results tr.blue td.cat{
background:url(results_blue.png) no-repeat 0 0;
}

table.results tr.orange td.cat{
background:url(results_orange.png) no-repeat 0 0px;
}

table.results tr.green td.cat{
background:url(results_green.png) no-repeat 0 0px;
}

table.results tr.red td.cat{
background:url(results_red.png) no-repeat 0 0px;
}

table.results tr:hover.blue td.cat{
background-position:-52px 0; 
color:#008edf;
}

table.results tr:hover.orange td.cat{
background-position:-52px 0px; 
color:#e9a213;
}

table.results tr:hover.green td.cat{
background-position:-52px 0px; 
color:#00de00;
}

table.results tr:hover.red td.cat{
background-position:-52px 0px; 
color:#de2500;
}

table.results td a{
color:#000;
text-decoration:none;
cursor:pointer;
}

table.results td.nzb a{
font-weight:bold;
text-decoration:none; 
cursor:pointer;
}

table.results tr.blue td.nzb a{
color:#008edf;
}

table.results tr.orange td.nzb a{
color:#e9a213;
}

table.results tr.green td.nzb a{
color:#00de00;
}

table.results tr.red td.nzb a{
color:#de2500;
}

table.results tr td.com{
text-align:center;
padding:0; 
background-image:url(sprite_y.png); 
background-repeat:repeat-y;
font-weight:bold; 
color:#fff;
}

table.results tr:hover td.com{
color:#000;
}

table.results tr:hover td.com{
background-image:none 
!important;
}

table.results tr.blue td.com{
background-position:0 0;
}

table.results tr.orange td.com{
background-position:-34px 0;
}

table.results tr.green td.com{
background-position:-68px 0;
}

table.results tr.red td.com{
background-position:-102px 0;
}

table.results tr.no_results td{
font-size:1em;    
font-weight:bold;
color:#C11B17;
}

table.results tr.active td.title{
line-height:16px;
padding:0 0 0 5px;
vertical-align:middle;
}

table.results tr.active td.title a:before{
content:"> ";
display:block;
float:left;
font-weight:bold;
line-height:14px;
margin:0 4px 0 -3px;
padding:0 4px 0 4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

table.results tr.blue.active td.title a:before{
background:#62aefd;
border:1px solid #006cab;
color:#006cab;
}

table.results tr.orange.active td.title a:before{
background:#f2d87c; 
border:1px solid #cd9f00; 
color:#cd9f00;
}

table.results tr.green.active td.title a:before{
background:#84f484; 
border:1px solid #00ab00; 
color:#00ab00;
}

table.results tr.red.active td.title a:before{
background:#f99797;
border:1px solid #ab1c00;
color:#ab1c00;
}

/* Navigation bar parts */
table.bar{
margin:5px 0 0 0;
width:100%;
border-collapse:collapse;    
}

table.bar tbody td:first-child{
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}

table.bar tbody td:last-child{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

table.bar tr td{
padding:0;
height:20px;
background:url(sprite_x.png) repeat-x 0 -60px;   
}

table.bar tr td input{
color:black;
background-color:#ececec;
text-align:center;
font-size:1.1em;
font-weight:bold;
border:0;
height:20px;
width:30px;
cursor:pointer;
}

table.bar tr td.prev{
width:55px;
}

table.bar tr td.prev input{ 
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}

table.bar tr td.next{
width:30px;
}

table.bar tr td.next input{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

table.bar tr td.home{
text-align:center;
}

table.bar tr td.home input{
background: url(home.png) no-repeat center 2px;
text-indent:-1000em;
}

table.bar tr td.page{
width:25px;
color:#908F91;
}

/* Filter navigation bar parts */
.panel table.filter{
margin:5px 0 0 5px;
width:225px;
border-collapse:collapse;
}

.panel table.filter tbody td:first-child{
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}

.panel table.filter tbody td:last-child{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}

.panel table.filter tr{
padding:5px;
}

.panel table.filter tr td{
padding:0px;
height:20px;
background:url(sprite_x.png) repeat-x 0 -60px;
}

.panel table.filter tr td input{
margin:0px;
padding:0px;
color:black;
background-color:#ececec;
font-size:1.1em;
font-weight:bold;
border:0;
height:20px;
width:30px;
cursor:pointer;
}

.panel table.filter tr td.up input{ 
-moz-border-radius:4px 0 0 4px;
-webkit-border-radius:4px 0 0 4px;
border-radius:4px 0 0 4px;
}

.panel table.filter tr td.down{
width:30px;
}

.panel table.filter tr td.down input{
-moz-border-radius:0 4px 4px 0;
-webkit-border-radius:0 4px 4px 0;
border-radius:0 4px 4px 0;
}